<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataReporting.Properties.Settings.dataReportConnectionString"
            connectionString="Data Source=THIERRYLI6676;Initial Catalog=dataReport;User ID=sa;Password=azerty"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>